CREATE TABLE IF NOT EXISTS fees (
    fee_id          INT           NOT NULL AUTO_INCREMENT,
    receipt_number  VARCHAR(20)   NOT NULL,           -- e.g. RCP-2024-0001
    student_id      INT           NOT NULL,
    fee_type        ENUM('rent','deposit','utility','fine','other') NOT NULL,
    amount          DECIMAL(10,2) NOT NULL CHECK (amount > 0),
    due_date        DATE          NOT NULL,
    paid_date       DATE          DEFAULT NULL,        -- NULL if not yet paid
    payment_method  ENUM('cash','bank_transfer','online') DEFAULT NULL,
    status          ENUM('paid','unpaid','overdue','waived') NOT NULL DEFAULT 'unpaid',
    notes           TEXT          DEFAULT NULL,
    created_at      DATETIME      NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at      DATETIME      NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,

    PRIMARY KEY (fee_id),
    UNIQUE KEY uq_receipt_number (receipt_number),
    CONSTRAINT fk_fee_student
        FOREIGN KEY (student_id) REFERENCES students(student_id)
        ON UPDATE CASCADE
        ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
